@font-face {
    font-family: 'GillSans';
    font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'GillSansStd-Bold';
                font-weight: bold;
                font-style: normal;
            }
            @font-face {
                font-family: 'GillSans-Italic';
                font-weight: normal;
                font-style: italic;
            }
            
            *{
                vertical-align: baseline;
                font-weight: inherit;
                font-family: inherit;
                font-style: inherit;
                font-size: 100%;
                padding: 0;
                margin: 0;
                border: 0;
                outline: 0;
                -webkit-touch-callout: none;
                -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
            }
            
            body {
                background-color: transparent;
                /* background-image: url("bg@2x.jpg");
                background-size: 320px 568px;
                background-attachment: fixed; */
                color: #ffffff;
                font-family: "GillSans";
                font-size: 13px;
            }
            
            h1 {
            	font-family: "GillSansStd-Bold";
            	font-size: 17px;
                margin-top: 15px;
                text-shadow: 0px 1px 1px #aaaaaa;
            }
            
            h2 {
            	font-family: "GillSansStd-Bold";
            	font-size: 15px;
                margin-top: 15px;
            }
            
            b {
                font-family: "GillSansStd-Bold";
            }
            
            img {
            	width: 320px;
            }
            
            ul {
                margin: 10px 0px 0px 15px;
            }
            
            .line {
                margin-bottom: 10px;
                padding: 0px 15px;
            }
            .image-slider-wrapper{
                width: 100%;
                overflow: hidden;
            }
            .image_slider{
                overflow: hidden;
                height: 213px;
                padding:0;
                margin: 0;
                position: relative;
                width: 300%;
                -webkit-transition: -webkit-transform 400ms ease-out;
                transition: transform 400ms ease-out;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);/
            }
            .image_slider li{
                left: 0;
                bottom: 0;  
                position: absolute;
                list-style: none;
            }
            .image_slider li img{
                width: 100%;
                border: 0;
            }

            .image_slider li:nth-child(1){                
                 -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
            }
            .image_slider li:nth-child(2){                
                 -webkit-transform: translate3d(100%, 0, 0);
                  transform: translate3d(100%, 0, 0);
            }
            .image_slider li:nth-child(3){                
                 -webkit-transform: translate3d(200%, 0, 0);
                  transform: translate3d(200%, 0, 0);
            }
            .pager {
                width: 60px;                
                padding:0;
                margin: 10px auto;
            }
            .pager li {
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background-color: #f6fcfc;
                list-style: none;
                float: left;
                margin: 0 5px;
            }
            .pager li.active{
                background-color: #5b5255;
            } 